body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li:hover {
  cursor: pointer;
}
.container {
  display: flex;
  gap: 50px;
}

.wrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap_black {
  background-color: black;

  padding: 5%;
}

a {
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 30px;
}
li {
  margin: 10px 0 10px 0;
}
